# Stage 1 - Member Task (U.S. Opioid Epidemic)

## Task M3.1 - Merge all the three datasets to create a super datafame

In [ ]:
# Importing pandas
import pandas as pd

### Dataset 1 :  Drug Overdose Dataset

In [152]:
# Read text file into pandas DataFrame
df_drug_overdose = pd.read_csv("../../../../data/stage_1/Underlying Cause of Death-County-2019.txt", sep="\t")
df_drug_overdose.head

<bound method NDFrame.head of       Notes                 County  County Code  \
0       NaN     Autauga County, AL         1001
1       NaN     Autauga County, AL         1001
2       NaN     Baldwin County, AL         1003
3       NaN     Baldwin County, AL         1003
4       NaN     Baldwin County, AL         1003
...     ...                    ...          ...
5536    NaN  Sweetwater County, WY        56037
5537    NaN       Teton County, WY        56039
5538    NaN       Uinta County, WY        56041
5539    NaN       Uinta County, WY        56041
5540    NaN    Washakie County, WY        56043

                             Drug/Alcohol Induced Cause  \
0     Drug poisonings (overdose) Unintentional (X40-...
1          Drug poisonings (overdose) Suicide (X60-X64)
2     Drug poisonings (overdose) Unintentional (X40-...
3          Drug poisonings (overdose) Suicide (X60-X64)
4     Drug poisonings (overdose) Undetermined (Y10-Y14)
...                                                 ...
5536       Drug poisonings (overdose) Suicide (X60-X64)
5537  Drug poisonings (overdose) Unintentional (X40-...
5538  Drug poisonings (overdose) Unintentional (X40-...
5539  Drug poisonings (overdose) Undetermined (Y10-Y14)
5540  Drug poisonings (overdose) Unintentional (X40-...

     Drug/Alcohol Induced Cause Code  Deaths  Population  Crude Rate
0                                 D1      69     1087149         6.3
1                                 D2      14     1087149  Unreliable
2                                 D1     424     3758097        11.3
3                                 D2      71     3758097         1.9
4                                 D4      19     3758097  Unreliable
...                              ...     ...         ...         ...
5536                              D2      15      873221  Unreliable
5537                              D1      13      440125  Unreliable
5538                              D1      51      426347        12.0
5539                              D4      10      426347  Unreliable
5540                              D1      14      172114  Unreliable

[5541 rows x 8 columns]>

### Read Dataset 2 :  County Health Rankings

In [153]:
# Read csv file into pandas DataFrame
df_county_health_ranking = pd.read_csv("../../../../data/stage_1/County_Health_Ranking.csv")
df_county_health_ranking.head

<bound method NDFrame.head of       State FIPS Code  County FIPS Code  5-digit FIPS Code State Abbreviation  \
0                   1                 0               1000                 AL
1                   1                 1               1001                 AL
2                   1                 3               1003                 AL
3                   1                 5               1005                 AL
4                   1                 7               1007                 AL
...               ...               ...                ...                ...
3188               56                37              56037                 WY
3189               56                39              56039                 WY
3190               56                41              56041                 WY
3191               56                43              56043                 WY
3192               56                45              56045                 WY

                   Name  Release Year  County Ranked (Yes=1/No=0)  \
0               Alabama          2019                         NaN
1        Autauga County          2019                         1.0
2        Baldwin County          2019                         1.0
3        Barbour County          2019                         1.0
4           Bibb County          2019                         1.0
...                 ...           ...                         ...
3188  Sweetwater County          2019                         1.0
3189       Teton County          2019                         1.0
3190       Uinta County          2019                         1.0
3191    Washakie County          2019                         1.0
3192      Weston County          2019                         1.0

      Premature death raw value  Premature death numerator  \
0                   9917.232898                    80440.0
1                   8824.057123                      815.0
2                   7224.632160                     2827.0
3                   9586.165037                      451.0
4                  11783.543680                      445.0
...                         ...                        ...
3188                7497.439952                      495.0
3189                3786.128226                      124.0
3190                7790.302043                      262.0
3191                5504.650970                      108.0
3192                4991.168273                       82.0

      Premature death denominator  ...  Male population 18-44 raw value  \
0                      13636816.0  ...                              NaN
1                        156132.0  ...                              NaN
2                        576496.0  ...                              NaN
3                         72222.0  ...                              NaN
4                         63653.0  ...                              NaN
...                           ...  ...                              ...
3188                     127427.0  ...                              NaN
3189                      66351.0  ...                              NaN
3190                      59466.0  ...                              NaN
3191                      22335.0  ...                              NaN
3192                      19599.0  ...                              NaN

      Male population 45-64 raw value  Male population 65+ raw value  \
0                                 NaN                            NaN
1                                 NaN                            NaN
2                                 NaN                            NaN
3                                 NaN                            NaN
4                                 NaN                            NaN
...                               ...                            ...
3188                              NaN                            NaN
3189                              NaN                            NaN
3190                              NaN                            NaN
3191                              NaN                            NaN
3192                              NaN                            NaN

      Total male population raw value  Female population 0-17 raw value  \
0                                 NaN                               NaN
1                                 NaN                               NaN
2                                 NaN                               NaN
3                                 NaN                               NaN
4                                 NaN                               NaN
...                               ...                               ...
3188                              NaN                               NaN
3189                              NaN                               NaN
3190                              NaN                               NaN
3191                              NaN                               NaN
3192                              NaN                               NaN

      Female population 18-44 raw value  Female population 45-64 raw value  \
0                                   NaN                                NaN
1                                   NaN                                NaN
2                                   NaN                                NaN
3                                   NaN                                NaN
4                                   NaN                                NaN
...                                 ...                                ...
3188                                NaN                                NaN
3189                                NaN                                NaN
3190                                NaN                                NaN
3191                                NaN                                NaN
3192                                NaN                                NaN

      Female population 65+ raw value  Total female population raw value  \
0                                 NaN                                NaN
1                                 NaN                                NaN
2                                 NaN                                NaN
3                                 NaN                                NaN
4                                 NaN                                NaN
...                               ...                                ...
3188                              NaN                                NaN
3189                              NaN                                NaN
3190                              NaN                                NaN
3191                              NaN                                NaN
3192                              NaN                                NaN

      Population growth raw value
0                             NaN
1                             NaN
2                             NaN
3                             NaN
4                             NaN
...                           ...
3188                          NaN
3189                          NaN
3190                          NaN
3191                          NaN
3192                          NaN

[3193 rows x 534 columns]>

### Read Dataset 3 :  County Opioid Dispensing Rates

In [154]:
# Read csv file into pandas DataFrame
df_county_opioid_dispensing_rates = pd.read_csv("../../../../data/stage_1/2019-Opioid_Rate.csv",
                                                encoding='unicode_escape')
df_county_opioid_dispensing_rates.head

<bound method NDFrame.head of      State             County   FIPS  Opiod_Dispensing_Rate
0       AL     Autauga County   1001                  101.3
1       AL     Baldwin County   1003                   67.6
2       AL     Barbour County   1005                   27.2
3       AL        Bibb County   1007                   21.0
4       AL      Blount County   1009                   23.7
...    ...                ...    ...                    ...
3090    WY  Sweetwater County  56037                   70.0
3091    WY       Teton County  56039                   54.6
3092    WY       Uinta County  56041                   59.5
3093    WY    Washakie County  56043                   46.7
3094    WY      Weston County  56045                    4.7

[3095 rows x 4 columns]>

### Merging first two datasets based on county fips column

In [157]:
# Merging two  datasets df_drug_overdose and df_county_health_ranking using 'County code' and '5-digit FIPS Code'/reference[1]
df_merged_drug_overdose_county_health_ranking = pd.merge(df_drug_overdose, df_county_health_ranking, 
                                                         left_on='County Code', 
                                                         right_on='5-digit FIPS Code')
df_merged_drug_overdose_county_health_ranking.head

<bound method NDFrame.head of       Notes                 County  County Code  \
0       NaN     Autauga County, AL         1001
1       NaN     Autauga County, AL         1001
2       NaN     Baldwin County, AL         1003
3       NaN     Baldwin County, AL         1003
4       NaN     Baldwin County, AL         1003
...     ...                    ...          ...
5534    NaN  Sweetwater County, WY        56037
5535    NaN       Teton County, WY        56039
5536    NaN       Uinta County, WY        56041
5537    NaN       Uinta County, WY        56041
5538    NaN    Washakie County, WY        56043

                             Drug/Alcohol Induced Cause  \
0     Drug poisonings (overdose) Unintentional (X40-...
1          Drug poisonings (overdose) Suicide (X60-X64)
2     Drug poisonings (overdose) Unintentional (X40-...
3          Drug poisonings (overdose) Suicide (X60-X64)
4     Drug poisonings (overdose) Undetermined (Y10-Y14)
...                                                 ...
5534       Drug poisonings (overdose) Suicide (X60-X64)
5535  Drug poisonings (overdose) Unintentional (X40-...
5536  Drug poisonings (overdose) Unintentional (X40-...
5537  Drug poisonings (overdose) Undetermined (Y10-Y14)
5538  Drug poisonings (overdose) Unintentional (X40-...

     Drug/Alcohol Induced Cause Code  Deaths  Population  Crude Rate  \
0                                 D1      69     1087149         6.3
1                                 D2      14     1087149  Unreliable
2                                 D1     424     3758097        11.3
3                                 D2      71     3758097         1.9
4                                 D4      19     3758097  Unreliable
...                              ...     ...         ...         ...
5534                              D2      15      873221  Unreliable
5535                              D1      13      440125  Unreliable
5536                              D1      51      426347        12.0
5537                              D4      10      426347  Unreliable
5538                              D1      14      172114  Unreliable

      State FIPS Code  County FIPS Code  ...  Male population 18-44 raw value  \
0                   1                 1  ...                              NaN
1                   1                 1  ...                              NaN
2                   1                 3  ...                              NaN
3                   1                 3  ...                              NaN
4                   1                 3  ...                              NaN
...               ...               ...  ...                              ...
5534               56                37  ...                              NaN
5535               56                39  ...                              NaN
5536               56                41  ...                              NaN
5537               56                41  ...                              NaN
5538               56                43  ...                              NaN

     Male population 45-64 raw value Male population 65+ raw value  \
0                                NaN                           NaN
1                                NaN                           NaN
2                                NaN                           NaN
3                                NaN                           NaN
4                                NaN                           NaN
...                              ...                           ...
5534                             NaN                           NaN
5535                             NaN                           NaN
5536                             NaN                           NaN
5537                             NaN                           NaN
5538                             NaN                           NaN

      Total male population raw value  Female population 0-17 raw value  \
0                                 NaN                               NaN
1                                 NaN                               NaN
2                                 NaN                               NaN
3                                 NaN                               NaN
4                                 NaN                               NaN
...                               ...                               ...
5534                              NaN                               NaN
5535                              NaN                               NaN
5536                              NaN                               NaN
5537                              NaN                               NaN
5538                              NaN                               NaN

      Female population 18-44 raw value  Female population 45-64 raw value  \
0                                   NaN                                NaN
1                                   NaN                                NaN
2                                   NaN                                NaN
3                                   NaN                                NaN
4                                   NaN                                NaN
...                                 ...                                ...
5534                                NaN                                NaN
5535                                NaN                                NaN
5536                                NaN                                NaN
5537                                NaN                                NaN
5538                                NaN                                NaN

      Female population 65+ raw value  Total female population raw value  \
0                                 NaN                                NaN
1                                 NaN                                NaN
2                                 NaN                                NaN
3                                 NaN                                NaN
4                                 NaN                                NaN
...                               ...                                ...
5534                              NaN                                NaN
5535                              NaN                                NaN
5536                              NaN                                NaN
5537                              NaN                                NaN
5538                              NaN                                NaN

      Population growth raw value
0                             NaN
1                             NaN
2                             NaN
3                             NaN
4                             NaN
...                           ...
5534                          NaN
5535                          NaN
5536                          NaN
5537                          NaN
5538                          NaN

[5539 rows x 542 columns]>

### Superdataset obtained by merging third datasets based on county fips column

In [155]:
# Merging df_merged_drug_overdose_county_health_ranking with df_county_opioid_dispensing_rates using 5-digit FIPS Code andFIPS
df_superdataset = pd.merge(df_merged_drug_overdose_county_health_ranking, df_county_opioid_dispensing_rates, 
                                                         left_on='5-digit FIPS Code', 
                                                         right_on='FIPS')
print(df_superdataset)

      Notes               County_x  County Code  \
0       NaN     Autauga County, AL         1001
1       NaN     Autauga County, AL         1001
2       NaN     Baldwin County, AL         1003
3       NaN     Baldwin County, AL         1003
4       NaN     Baldwin County, AL         1003
...     ...                    ...          ...
5533    NaN  Sweetwater County, WY        56037
5534    NaN       Teton County, WY        56039
5535    NaN       Uinta County, WY        56041
5536    NaN       Uinta County, WY        56041
5537    NaN    Washakie County, WY        56043

                             Drug/Alcohol Induced Cause  \
0     Drug poisonings (overdose) Unintentional (X40-...
1          Drug poisonings (overdose) Suicide (X60-X64)
2     Drug poisonings (overdose) Unintentional (X40-...
3          Drug poisonings (overdose) Suicide (X60-X64)
4     Drug poisonings (overdose) Undetermined (Y10-Y14)
...                                                 ...
5533       Drug poisonings (overdose) Suicide (X60-X64)
5534  Drug poisonings (overdose) Unintentional (X40-...
5535  Drug poisonings (overdose) Unintentional (X40-...
5536  Drug poisonings (overdose) Undetermined (Y10-Y14)
5537  Drug poisonings (overdose) Unintentional (X40-...

     Drug/Alcohol Induced Cause Code  Deaths  Population  Crude Rate  \
0                                 D1      69     1087149         6.3
1                                 D2      14     1087149  Unreliable
2                                 D1     424     3758097        11.3
3                                 D2      71     3758097         1.9
4                                 D4      19     3758097  Unreliable
...                              ...     ...         ...         ...
5533                              D2      15      873221  Unreliable
5534                              D1      13      440125  Unreliable
5535                              D1      51      426347        12.0
5536                              D4      10      426347  Unreliable
5537                              D1      14      172114  Unreliable

      State FIPS Code  County FIPS Code  ...  \
0                   1                 1  ...
1                   1                 1  ...
2                   1                 3  ...
3                   1                 3  ...
4                   1                 3  ...
...               ...               ...  ...
5533               56                37  ...
5534               56                39  ...
5535               56                41  ...
5536               56                41  ...
5537               56                43  ...

      Female population 0-17 raw value Female population 18-44 raw value  \
0                                  NaN                               NaN
1                                  NaN                               NaN
2                                  NaN                               NaN
3                                  NaN                               NaN
4                                  NaN                               NaN
...                                ...                               ...
5533                               NaN                               NaN
5534                               NaN                               NaN
5535                               NaN                               NaN
5536                               NaN                               NaN
5537                               NaN                               NaN

     Female population 45-64 raw value  Female population 65+ raw value  \
0                                  NaN                              NaN
1                                  NaN                              NaN
2                                  NaN                              NaN
3                                  NaN                              NaN
4                                  NaN                              NaN
...                                ...                              ...
5533                               NaN                              NaN
5534                               NaN                              NaN
5535                               NaN                              NaN
5536                               NaN                              NaN
5537                               NaN                              NaN

      Total female population raw value  Population growth raw value  State  \
0                                   NaN                          NaN     AL
1                                   NaN                          NaN     AL
2                                   NaN                          NaN     AL
3                                   NaN                          NaN     AL
4                                   NaN                          NaN     AL
...                                 ...                          ...    ...
5533                                NaN                          NaN     WY
5534                                NaN                          NaN     WY
5535                                NaN                          NaN     WY
5536                                NaN                          NaN     WY
5537                                NaN                          NaN     WY

               County_y   FIPS  Opiod_Dispensing_Rate
0        Autauga County   1001                  101.3
1        Autauga County   1001                  101.3
2        Baldwin County   1003                   67.6
3        Baldwin County   1003                   67.6
4        Baldwin County   1003                   67.6
...                 ...    ...                    ...
5533  Sweetwater County  56037                   70.0
5534       Teton County  56039                   54.6
5535       Uinta County  56041                   59.5
5536       Uinta County  56041                   59.5
5537    Washakie County  56043                   46.7

[5538 rows x 546 columns]

### Exporting dataset to csv format

In [192]:
df_superdataset.to_csv("../../../../data/stage_1/superDatasetAditi.csv")

## Task M3.2 - Identify counties and states (top 10) with the highest opioid mortality rates.

### Displaying coloumns with county and state information needed for analysis

In [158]:
df_by_county= df_superdataset[['County_x','County Code','Deaths','Population','State FIPS Code','State Abbreviation','County_y','Opiod_Dispensing_Rate','Crude Rate']]
df_by_county.head()

,County_x,County Code,Deaths,Population,State FIPS Code,State Abbreviation,County_y,Opiod_Dispensing_Rate,Crude Rate
0,"Autauga County, AL",1001,69,1087149,1,AL,Autauga County,101.3,6.3
1,"Autauga County, AL",1001,14,1087149,1,AL,Autauga County,101.3,Unreliable
2,"Baldwin County, AL",1003,424,3758097,1,AL,Baldwin County,67.6,11.3
3,"Baldwin County, AL",1003,71,3758097,1,AL,Baldwin County,67.6,1.9
4,"Baldwin County, AL",1003,19,3758097,1,AL,Baldwin County,67.6,Unreliable

### Normalise death related data based on population with normalised factor 100000

In [159]:
df_by_county['deathRate'] = (df_by_county.Deaths/df_by_county.Population) * 100000;
df_by_county.head()

/var/folders/gn/n1w1tw9s7zv9v6tfmkp10ylm0000gn/T/ipykernel_2841/3830420202.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_by_county['deathRate'] = (df_by_county.Deaths/df_by_county.Population) * 100000;

,County_x,County Code,Deaths,Population,State FIPS Code,State Abbreviation,County_y,Opiod_Dispensing_Rate,Crude Rate,deathRate
0,"Autauga County, AL",1001,69,1087149,1,AL,Autauga County,101.3,6.3,6.346876
1,"Autauga County, AL",1001,14,1087149,1,AL,Autauga County,101.3,Unreliable,1.287772
2,"Baldwin County, AL",1003,424,3758097,1,AL,Baldwin County,67.6,11.3,11.282306
3,"Baldwin County, AL",1003,71,3758097,1,AL,Baldwin County,67.6,1.9,1.889254
4,"Baldwin County, AL",1003,19,3758097,1,AL,Baldwin County,67.6,Unreliable,0.505575

### Using pandas mean function to find the mean of data rates per county

In [160]:
# Using pandas groupby function to perform aggregation on all coloumns
df_groupby_mean = df_new.groupby(['County Code','County_y',
                             'Population','State FIPS Code','State Abbreviation',
                             'Opiod_Dispensing_Rate'])['deathRate'].mean().reset_index()
df_groupby_mean.head()

,County Code,County_y,Population,State FIPS Code,State Abbreviation,Opiod_Dispensing_Rate,deathRate
0,1001,Autauga County,1087149,1,AL,101.3,3.817324
1,1003,Baldwin County,3758097,1,AL,67.6,3.558982
2,1005,Barbour County,574442,1,AL,27.2,2.437148
3,1007,Bibb County,464942,1,AL,21.0,12.044513
4,1009,Blount County,1171455,1,AL,23.7,7.170570

### Using sort values function to find out highest number of death rate in counties

In [178]:
df_groupby_mean.sort_values(by=['deathRate'], ascending=[False]).head(10)

,County Code,County_y,Population,State FIPS Code,State Abbreviation,Opiod_Dispensing_Rate,deathRate
869,21197,Powell County,267450,21,KY,70.7,44.494298
2250,51051,Dickenson County,329120,51,VA,97.9,35.853184
799,21053,Clinton County,211016,21,KY,66.3,35.542329
850,21159,Martin County,264538,21,KY,69.5,34.777612
836,21131,Leslie County,238176,21,KY,62.1,34.428322
786,21025,Breathitt County,298575,21,KY,68.1,33.827347
830,21119,Knott County,345386,21,KY,49.5,33.006549
805,21065,Estill County,308808,21,KY,42.3,32.706407
888,21237,Wolfe County,150925,21,KY,79.1,32.466457
2409,54043,Lincoln County,455025,54,WV,25.7,30.547772

### Using  groupby function to perform aggregation on all coloumn with median with coloumn death rate

In [179]:
df_groupby_median = df_new.groupby(['County Code','County_y',
                             'Population','State FIPS Code','State Abbreviation',
                             'Opiod_Dispensing_Rate'])['deathRate'].median().reset_index()
df_groupby_median.head()

,County Code,County_y,Population,State FIPS Code,State Abbreviation,Opiod_Dispensing_Rate,deathRate
0,1001,Autauga County,1087149,1,AL,101.3,3.817324
1,1003,Baldwin County,3758097,1,AL,67.6,1.224024
2,1005,Barbour County,574442,1,AL,27.2,2.437148
3,1007,Bibb County,464942,1,AL,21.0,12.044513
4,1009,Blount County,1171455,1,AL,23.7,7.170570

### Using sort values function to find out highest number of death rate in counties with median

In [180]:
df_groupby_median.sort_values(by=['deathRate'], ascending=[False]).head(10)

,County Code,County_y,Population,State FIPS Code,State Abbreviation,Opiod_Dispensing_Rate,deathRate
869,21197,Powell County,267450,21,KY,70.7,44.494298
2250,51051,Dickenson County,329120,51,VA,97.9,35.853184
799,21053,Clinton County,211016,21,KY,66.3,35.542329
850,21159,Martin County,264538,21,KY,69.5,34.777612
836,21131,Leslie County,238176,21,KY,62.1,34.428322
786,21025,Breathitt County,298575,21,KY,68.1,33.827347
830,21119,Knott County,345386,21,KY,49.5,33.006549
805,21065,Estill County,308808,21,KY,42.3,32.706407
888,21237,Wolfe County,150925,21,KY,79.1,32.466457
2409,54043,Lincoln County,455025,54,WV,25.7,30.547772

In [181]:
df_top_10_counties = df_groupby_median.sort_values(by=['deathRate'], ascending=[False]).head(10)
df_top_10_counties['County_y']

869        Powell County
2250    Dickenson County
799       Clinton County
850        Martin County
836        Leslie County
786     Breathitt County
830         Knott County
805        Estill County
888         Wolfe County
2409      Lincoln County
Name: County_y, dtype: object

### Using  groupby function to perform aggregation on all coloumn with mean with coloumn death rate for state

In [182]:
df_groupBy_deaths_state_mean = df_new.groupby(['State FIPS Code','State Abbreviation'])['deathRate'].mean().reset_index()
df_groupBy_deaths_state.head()

   State FIPS Code State Abbreviation  deathRate
0                1                 AL   4.432717
1                2                 AK   5.917706
2                4                 AZ   4.794026
3                5                 AR   4.184923
4                6                 CA   4.338118

### Sorting in ascending order to get highest number of deaths in that state

In [183]:
df_groupBy_deaths_state_mean.sort_values(by=['deathRate'], ascending=[False]).head(10)

    State FIPS Code State Abbreviation  deathRate
17               21                 KY  12.479899
48               54                 WV  11.026999
31               35                 NM   8.891077
36               40                 OK   7.743447
42               47                 TN   7.511827
28               32                 NV   6.602725
25               29                 MO   6.291711
46               51                 VA   6.123876
35               39                 OH   6.091467
50               56                 WY   6.045905

In [184]:
df_top_10_states = df_groupBy_deaths_state_mean.sort_values(by=['deathRate'], ascending=[False]).head(10)
df_top_10_states['State Abbreviation']

17    KY
48    WV
31    NM
36    OK
42    TN
28    NV
25    MO
46    VA
35    OH
50    WY
Name: State Abbreviation, dtype: object

### Using  groupby function to perform aggregation on all coloumn with median with coloumn death rate for state

In [185]:
df_groupBy_deaths_state_median = df_new.groupby(['State FIPS Code','State Abbreviation'])['deathRate'].median().reset_index()
df_groupBy_deaths_state_median.head()

   State FIPS Code State Abbreviation  deathRate
0                1                 AL   2.643914
1                2                 AK   5.136560
2                4                 AZ   2.235898
3                5                 AR   3.495702
4                6                 CA   1.704058

### Sorting in ascending order to get highest number of deaths in that state for median

In [186]:
df_groupBy_deaths_state_median.sort_values(by=['deathRate'], ascending=[False]).head(10)

    State FIPS Code State Abbreviation  deathRate
17               21                 KY  10.957471
36               40                 OK   7.812354
48               54                 WV   6.039197
10               13                 GA   5.610800
25               29                 MO   5.406667
44               49                 UT   5.329404
50               56                 WY   5.175309
1                 2                 AK   5.136560
46               51                 VA   4.648058
24               28                 MS   4.575798

# Inferences:
### Counties in Kentucky is having highest number of dispensing rate of opioid which leads to easy access of drug to the people .
### Dikenson county in Virginia is having highest dispensing rate of opioid.
### Dikenson County is the only one in west virginia where opioid epedemic was high

## TOP 10 COUNTIES 
   
<li>Powell County</li>
<li>Dickenson County</li>
<li>Clinton County</li>
<li>Martin County</li> 
<li>Leslie County</li>  
<li>Breathitt County</li>   
<li>Knott County</li>
<li>Estill County</li>
<li>Wolfe County</li>
<li>Lincoln County</li>

# Inferences:
### Kentucky is having highest number of dispensing rate of opioid which leads to easy access of drug to the people 
### Kentucky is having highest death rate.
### The second largest state with death rate is west virginia

### TOP 10 STATES 
   
<li>(Kentucky)KY</li>
<li>(West Virginia)WV</li>
<li>(New Mexixo)NM</li>
<li>(Oklahoma)OK</li> 
<li>(Tennessee)TN</li> 
<li>(Nevada)NV</li>
<li>(Montana)MO</li>   
<li>(Virginia)VA</li>
<li>(Ohio)OH</li>
<li>(Wyoming)WY</li>

REFERENCES:
   1. https://pandas.pydata.org/docs/reference/api/pandas.merge.html